:root {
  --hl: #047dffcb;
  --sec: hsla(0, 0%, 73%, 0.87);
  --bg: #202124;
  --transBg: rgba(0, 0, 0, 0.8);
  --font: 10%;
  --clickable: red;
}

$clickable: var(--clickable);
$hl: var(--hl);
$sec: var(--sec);
$bg: var(--bg);
$transBg: var(--transBg);
$font: var(--font);
$no-of-projects: 7;

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;700&display=swap");

@import "./pages";
@import "./animation";
@import "./main";
