:root {
  --hl: #047dffcb;
  --sec: hsla(0, 0%, 73%, 0.87);
  --bg: #202124;
  --transBg: rgba(0, 0, 0, 0.8);
  --font: 10%;
  --clickable: red;
}

h1 {
  font-size: 10vh;
}

h2 {
  font-size: 5vh;
}

.text-content {
  font-size: 25px;
}

.hl {
  color: var(--hl);
}

section {
  display: none;
  height: 100vh;
  width: 80vw;
  margin-left: 10vw;
  margin-right: 10vw;
  scroll-snap-align: start;
}

#home {
  display: none;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 5px;
  z-index: 1;
}

#about {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#works {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.work-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  margin-right: 10%;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 1s;
  transition: all 1s;
  margin: 2%;
  padding: 5%;
  border-radius: 15px;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 5px 10px rgba(154, 160, 185, 0.1);
          box-shadow: 0 5px 10px rgba(154, 160, 185, 0.1);
}

.card-img {
  height: 60%;
  width: 80%;
}

.card-heading {
  margin-bottom: 5%;
  font-weight: 700;
}

.card:hover {
  border: var(--sec) 1px solid;
}

#skills {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skillGrp {
  margin-left: 0;
}

.skillImg {
  height: 80px;
  width: 80px;
  margin-right: 5vh;
  margin-bottom: 3vh;
  padding: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 10px rgba(154, 160, 185, 0.1);
          box-shadow: 0 5px 10px rgba(154, 160, 185, 0.1);
  cursor: pointer;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

#contact {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contactWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contactCard {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 10px rgba(154, 160, 185, 0.1);
          box-shadow: 0 5px 10px rgba(154, 160, 185, 0.1);
}

.contactCardIcon {
  height: 50%;
  width: 50%;
}

.contactCardHeading {
  font-weight: 700;
  margin-left: 5px;
  margin-right: 5px;
}

.cursor {
  display: none;
  position: absolute;
  height: 25px;
  width: 25px;
  z-index: -1;
  border: var(--sec) 1px solid;
  border-radius: 50%;
}

#innerCursor {
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

#outerCursor {
  height: 35px;
  width: 35px;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

#typewriter {
  font-size: 50px;
  color: var(--hl);
  font-weight: 300;
  letter-spacing: 3px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
}

#tywrapper {
  display: inline-block;
}

#text {
  position: relative;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  white-space: nowrap;
  border-right: var(--sec) 1px solid;
}

@-webkit-keyframes typing {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@keyframes typing {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@-webkit-keyframes blinking {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--sec);
  }
}

@keyframes blinking {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--sec);
  }
}

@-webkit-keyframes lastType {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes lastType {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

#loadingScreen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--bg);
  z-index: 20;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#signature {
  height: 100%;
  width: 100%;
  stroke-dasharray: 315;
  stroke-dashoffset: 315;
  -webkit-animation: 3.5s sign ease;
          animation: 3.5s sign ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes sign {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes sign {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--bg);
  color: var(--sec);
  font-family: "Roboto Mono", monospace;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-y: scroll;
  -webkit-transition: all ease;
  transition: all ease;
}

#showMore {
  display: none;
  position: fixed;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: var(--transBg);
  z-index: 9;
}

#showContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#showIcon {
  height: 15vh;
  width: 15vw;
}

#closeShow {
  height: 5%;
  width: 5%;
}

#closeShow:hover {
  -webkit-animation: spin 2s infinite;
          animation: spin 2s infinite;
}

#modal {
  display: none;
  position: fixed;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: var(--transBg);
  z-index: 10;
}

.options {
  color: rgba(186, 186, 186, 0.87);
  font-size: 30px;
  letter-spacing: 1vh;
  cursor: pointer;
  margin: auto;
  background-color: transparent;
  text-align: center;
  height: 15%;
  width: 60%;
  border-radius: 20px;
  border: 2px solid rgba(186, 186, 186, 0.87);
  -webkit-transition: width 2s, letter-spacing 2s;
  transition: width 2s, letter-spacing 2s;
}

.options:hover {
  width: 80%;
  letter-spacing: 2vh;
}

.topbar {
  display: none;
  position: fixed;
  top: 90%;
  left: 0;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 10%;
  z-index: 2;
  background-color: transparent;
}

.svgShapes {
  stroke: var(--bg);
  fill: var(--sec);
}

.transparent {
  stroke: var(--bg);
  fill: var(--bg);
}

.buttons {
  height: 40px;
  width: 40px;
  cursor: pointer;
  padding-left: 2%;
  background-color: transparent;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.buttons:hover {
  height: 60px;
  width: 60px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}
/*# sourceMappingURL=style.css.map */